
body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: Arial;
}

.portfolio-body {
    padding-bottom: 5%;
}

.main-logo {
    max-height: 120px;
    width: auto;
}

.inline-button {
    display: inline-flex;
    margin-top: 1%;
    margin-left: 1%;
    width: 89%;
    justify-content: space-between;
    vertical-align: middle;
    flex-direction: row;
}

a {
    color: white;
    text-decoration: none;
}

.menu-label {
    position: relative;
    top: 30px;
    border: none;
    font-size: 30px;
    height: 30px;
}

.menu-label::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 0%;
    height: 5px;
    background-color: white;
    transition: width 0.5s;
}

.menu-label:hover::after {
    width: 100%;
}

.category {
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
}

.category-title {
    /*font-size: 30px;*/
    display: inline;
    padding-right: 5px;
    cursor: pointer;
}

.category-chevron {
    display: inline-block;
    width: fit-content;
    margin: 0;
    transform: none;
    transition: transform 0.5s;
}

.category-inline {
    display: inline-table;
    line-height: 0px;
}

.img-two-inline {
    /* 98% because => 100% - 2% (2 time margin 1%) */
    max-width: calc(97% / 2);
    height: auto;
    margin-bottom: 1%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.img-three-inline {
    /* 97% because => 100% - 3% (3 time margin 1%) */
    max-width: calc(96% / 3);
    height: auto;
    margin-bottom: 1%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.img-photo {
    /*min-width: 500px;*/
    max-width: 98%;
    height: auto;
    margin-bottom: 1%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.home-img {
    /*margin-top: 5vh;
    max-width: 100%;
    height: auto;*/
    background-image: url("assets/Ecran Accueil.png");
    /*width: 1920px;*/
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) {

} 

.cv-container {
    /*display: inline-block;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
    margin-top: 10vh;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
    /*max-width: 90%;
    height: auto;*/
}

.cv-img {
    /*width: 26%;*/
    /*height: 100%;*/
    /*min-width: 100%;*/
    /*min-height: 100%;*/
    /*height: 40vh;*/
    /*width: auto;*/
    max-width: 100%;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-bottom: 2vh;
}

.contact-container {
    /*margin-left: 35vw;*/
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.contact-wrapper {
    display: inline-block;
    position: relative;
    /*top: -18px;*/
}

.contact {
    margin-top: 25px;
    height: 50px;
}

.contact-link {
    display: inline-block;
    vertical-align: middle;
    margin-top: -40px;
    font-stretch: ultra-condensed;
    font-size: 25px;
}

.contact-logo {
    height: 50px;
    width: auto;
    padding-right: 25px;
}

.contact-strip {
    position: relative;
    height: 395px;
    width: auto;
}